@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: 600;
  background-color: rgb(0, 0, 0);
}
:root {
  --primary: #fcd34d;
  --secondary: white;
}

* {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0.5rem;
  background-color: var(--primary);
}
img {
  height: 300px;
  width: auto;
  border-radius: 20px;
}

.arrange {
  display: block;
  padding: 0.5rem;
  color: var(--secondary);
  font-weight: 500;
}
.flex {
  display: inline-block;
}
.image {
  margin-top: 2rem;
  margin-left: 2rem;
}
.anime {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--primary);
  cursor: pointer;
}

.animeName {
  padding: 0.5rem;
}
.animeName:hover {
  background-color: rgba(20, 20, 20, 0.116);
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 80vh;
  padding: 1rem;
}

footer {
  background-color: var(--primary);
  padding: 1rem;
}

@media (max-width: 600px) {
  .image {
    margin-left: 0rem;
  }
  main {
    flex-direction: column;
  }
  img {
    height: 270px;
  }
}
